<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D395EFD31CF4CE9100C4BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D395EFE71CF4CE9200C4BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D395EFF21CF4CE9200C4BFC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
